@model IEnumerable<Blitz.Models.ProductModel>


@{
    Layout = null;
}
<!DOCTYPE html>
<html lang="en">

<head>
   
</head>

<body>



    <nav class="navbar navbar-secondary bg-secondary">

        <div class="container-fluid">

            <a class="navbar-brand">Blitz</a>
            <form class="d-flex">
                <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
                <button class="btn btn-outline-light" type="submit">Search</button>
            </form>
            <a class="text-decoration-none text-end" href="">Sign Up</a>
            <button type="button" class="btn btn-success">Log In</button>

        </div>
    </nav>




    <form name="form1" method="post">

        <div class="container py-5 h-100">
           <div class="row justify-content-center align-items-center h-100">

                <div class="col-12 col-lg-9 col-xl-7">

                    <div class="card shadow-2-strong card-registration" style="border-radius: 15px;">


                        <div class="card-body p-4 p-md-5">

                            <h3 class="mb-4 pb-2 pb-md-0 mb-md-5">Sign Up</h3>



                                     <div class="row">
                                         <div class="col-md-6 mb-4">
                                          <div class="form-outline">
                                             <label class="form-label" for="firstName">First Name</label>
                                             <input type="text" id="FirstName" name="FirstName" class="form-control form-control-lg" required />
                                          </div>

                                         </div>
                                      <div class="col-md-6 mb-4">

                                            <div class="form-outline">
                                                <label class="form-label" for="lastName">Last Name</label>
                                                <input type="text" id="LastName" name="LastName"class="form-control form-control-lg" required />
                                            </div>

                                      </div>
                                     </div>


                                     <div class="row">
                                        <div class="col-md-6 mb-4 pb-2">

                                                <div class="form-outline">
                                                     <label class="form-label" for="emailAddress">Email</label>
                                                     <input type="email" id="U_EmailId" name="U_EmailId" class="form-control form-control-lg" required />
                                                </div>

                                        </div>

                                        <div class="col-md-6 mb-4 pb-2">

                                                 <div class="form-outline">
                                                     <label class="form-label" for="phoneNumber">Phone Number</label>
                                                     <input type="tel" id="U_MobileNumber" name="U_MobileNumber" class="form-control form-control-lg" required />
                                                 </div>

                                        </div>
                                     </div>



                                     <div class="col-md-6 mb-4">

                                                 <label for="gender" class="form-label">Gender</label>
                                                 <br>

                                                    <div class="form-check form-check-inline">
                                                         <input class="form-check-input" type="radio" name="inlineRadioOptions"
                                                            id="Gender" name="Gender" value="option1" checked />
                                                         <label class="form-check-label" for="femaleGender">Female</label>
                                                    </div>

                                                    <div class="form-check form-check-inline">
                                                     <input class="form-check-input" type="radio" name="inlineRadioOptions"
                                                        id="Gender"  name ="Gender" value="option2" />
                                                         <label class="form-check-label" for="maleGender">Male</label>
                                                    </div>

                                                    <div class="form-check form-check-inline">
                                                        <input class="form-check-input" type="radio" name="inlineRadioOptions"
                                                            id="Gender" name ="Gender"value="option3" />
                                                        <label class="form-check-label" for="otherGender">Other</label>
                                                    </div>

                                     </div>
                         



                            <div class="row">
                                <div class="col-md-6 mb-4 pb-2">

                                    <div class="form-outline">
                                        <label class="form-label" for="password">Password</label>
                                        <input type="password" id="U_Password" name="U_Password" class="form-control form-control-lg" required />
                                    </div>

                                </div>

                                <div class="col-md-6 mb-4 pb-2">

                                    <div class="form-outline">
                                        <label class="form-label" for="confirmPassword">Confirm Password</label>
                                        <input type="tel" id="confirmPassword" class="form-control form-control-lg" required />
                                    </div>

                                </div>

                            </div>


                                    
                
                                    <div class="text-center pt-3">
                                     <button type="submit" class="btn btn-primary">Sign Up</button>

                                     <p>@ViewBag.Button</p>
                                     <p>@ViewBag.FName</p>
                                     <p>@ViewBag.LastName</p>
                                     <p> @ViewBag.EmailId </p>
                                     <p> @ViewBag.mobile </p>
                                     <p>@ViewBag.pass</p>
                                    </div>



                        </div>
                   </div>>
                </div>>
           </div>
        </div>
    </form>

  
</body>

</html>





                                        @* <div class="col-md-6 mb-4">


                                         <div class="form-outline">
                                                <label class="form-label" for="firstName">First Name</label>
                                                <input type="text" id="FirstName" name="FirstName" class="form-control form-control-lg" required />
                                         </div>*@
